/*estilopage1.css*/
*{
    margin: 0;
}
#pr1{
    background-color: #53ecb1;
    margin: none;
    width: auto;
    height: 80px;
    align-items: center;
    display: flex;
    
}
.introduccion div{
    width: 400px;
    height: 400px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    text-align: center;
    
}
.introduccion h2{
    position: relative;
    top:20px;
    left: 100px;
    text-align: center;
    font-size: 30px;
}
.introduccion p{
    position: relative;
    top: 26px;
    left: 100px;
    justify-content: center;
    width: 380px;
    height: 380px;
    font-size: 22px;
}

#pr1 a{
    text-decoration: none;
}

.introduccion img{
    position: relative;
    top: 10 px;
    left: 120px;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.imgP{
    margin: 0;
    width: auto;
    height: auto;
    align-items: center;   
    justify-content: center;
}

.imgP img{
    margin: 0;
    width: auto;
    height: 408px;
    
}
#pr1 h3{
    margin: 0 20px;
    color: white;
}

.cabezaD{
    margin-left: auto; 
    margin-right: 20px;
    justify-content: space-between;
    text-decoration: none;
}

body{
    background-color: #ddfacd;
}

.logo{
    width: 215px;
    background-color: brown;
    height: px;
    display: flex;
    align-items: center;
    border-radius: 30px;
   
}
.logo img{
    border-radius: 30px;
    margin-right: 10px;
}

h3{
    color: red;
}
.fct{
    background-color: blueviolet;
    width:  700px;
   
    
}
.pr1 a{
    text-decoration: none;

}